# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env
*.json
!package.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
